/*font-family: 'Lato', sans-serif;*/
/*font-family: 'Berkshire Swash', cursive;*/

/*GENERAL CSS*/

html, body {
	background: #1F2429;
	/*background: rgb(31,36,41);
    background: linear-gradient(152deg, rgba(31,36,41,1) 0%, rgba(10,11,13,1) 100%);*/
	height: 100%;
	margin: 0;
	position: fixed;
	width: 100%;
}

/*PARTICLES CSS*/

#particles-js {
	height: 100%;
    position: absolute;
   	width: 100%;
   	
}

/*ORBIT STYLES*/

#circle-animation{
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 0;
    margin: 0;
    padding: 0;
  
}

.link {
	position: absolute;
    z-index: 10;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    margin-top: 1.5em;
    margin-left: 1.5em;

	
}

a {
	color: #EFE4CA;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 10;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-weight: 200;

}

.aries-text {
	position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#aries-title {
	position: relative;
    z-index: 10;
    display: flex;
    justify-content: end;
    align-items: center;
    font-family: 'Berkshire Swash', cursive;
    color: #EFE4CA;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 100px;
    margin-top: 3.1em;
    letter-spacing: 5px;
    margin-bottom: 0;
}

#aries-subtitle {
	font-family: 'Lato', sans-serif;
	position: relative;
    z-index: 10;
    display: flex;
    justify-content: end;
    align-items: center;
 	color: #EFE4CA;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 19px;
    letter-spacing: 5px;
    margin-top: 0;
}

p {
	font-family: 'Lato', sans-serif;
	color: #EFE4CA;
	display: inline-block;
	font-weight: 100;
	font-size: 12px;
	line-height: 1;	
	margin-top: 2px;
}

/*SLIDER STYLES*/


   
button.glide__arrow.glide__arrow--left.glide__slide--active {
	width: 40px !important;
    border-radius: 50%;
    height: 40px;
    margin-right: 5px;
    background: transparent;
    border: solid 1px #A97043;
    font-family: 'Lato', sans-serif;
    color: #EFE4CA;
}

