<div class="aries-text">
	<h1 class="animated fadeIn delay-5s" id="aries-title">Aries</h1>
		<h2 class="animated fadeIn" id="aries-subtitle"  id="aries-title"><em>Adventurous &#183; Courage &#183; Versatile</em></h2>
		<p class="animated fadeIn"  id="aries-date"><strong>Date:</strong> 3/21 - 4/19 | <strong>Symbol:</strong> Ram's Head</p>
		<p class="animated fadeIn" id="aries-ruling-planet"><strong>Ruling Planet:</strong> Mars | <strong>Quality:</strong> Cardinal</p>  
		<p class="animated fadeIn" id="aries-color"><strong>Color:</strong> Red | <strong>Element:</strong> Fire</p> 
	</div>
<div class="lottie" id="circle-animation" data-animation-path="assets/" data-anim-loop="true"></div>
