<div class="aries-text">
		<h1 class="animated fadeIn delay-5s" id="aries-title">Cancer</h1>
		<h2 class="animated fadeIn" id="aries-subtitle"  id="aries-title">Tenacious &#183; Loyal &#183; Sympathetic</h2>
		<p class="animated fadeIn" id="aries-date"><strong>Date:</strong> 06/21 - 07/22 | <strong>Symbol:</strong> Crab</p>
		<p class="animated fadeIn" id="aries-ruling-planet"><strong>Ruling Planet:</strong> Moon | <strong>Quality:</strong> Cardinal</p>  
		<p class="animated fadeIn" id="aries-color"><strong>Color:</strong> White | <strong>Element:</strong> Water</p> 
	</div>
	<div class="lottie" id="cancer-animation" data-animation-path="assets/" data-anim-loop="true"></div>


