 <div class="aries-text">
		<h1 class="animated fadeIn delay-5s" id="aries-title">Capricorn</h1>
		<h2  class="animated fadeIn" id="aries-subtitle"  id="aries-title">Responsible &#183; Disciplined &#183; Ambitious</h2>
		<p  class="animated fadeIn" id="aries-date"><strong>Date:</strong> 12/22 - 01/19 | <strong>Symbol:</strong> Sea-Goat</p>
		<p  class="animated fadeIn" id="aries-ruling-planet"><strong>Ruling Planet:</strong> Saturn | <strong>Quality:</strong> Cardinal</p>  
		<p  class="animated fadeIn" id="aries-color"><strong>Color:</strong> Brown | <strong>Element:</strong> Earth</p> 
	</div>
	<div class="lottie" id="cap-animation" data-animation-path="assets/" data-anim-loop="true"></div>