<div class="aries-text">
		<h1 class="animated fadeIn delay-5s" id="aries-title">Gemini</h1>
		<h2 class="animated fadeIn" id="aries-subtitle" id="aries-title">Gentle &#183; Affectionate &#183; Adaptable</h2>
		<p class="animated fadeIn" id="aries-date"><strong>Date:</strong> 05/21 - 06/20 | <strong>Symbol:</strong> Twins</p>
		<p class="animated fadeIn" id="aries-ruling-planet"><strong>Ruling Planet:</strong> Mercury | <strong>Quality:</strong> Mutable</p>  
		<p class="animated fadeIn" id="aries-color"><strong>Color:</strong> Green | <strong>Element:</strong> Air</p> 
	</div>
	<div class="lottie" id="gemini-animation" data-animation-path="assets/" data-anim-loop="true"></div>
