<div class="aries-text">
		<h1 class="wow fadeIn" data-wow-duration="2s" data-wow-delay="5s" id="aries-title">Leo</h1>
		<h2 id="aries-subtitle" class="wow fadeIn" data-wow-duration="2s" data-wow-delay="6s" id="aries-title">Creative &#183; Passionate &#183; Generous</h2>
		<p class="wow fadeIn" data-wow-duration="2s" data-wow-delay="7s" id="aries-date"><strong>Date:</strong> 07/23 - 08/23 | <strong>Symbol:</strong> Lion</p>
		<p class="wow fadeIn" data-wow-duration="2s" data-wow-delay="7s" id="aries-ruling-planet"><strong>Ruling Planet:</strong> Sun | <strong>Quality:</strong> Fixed</p>  
		<p class="wow fadeIn" data-wow-duration="2s" data-wow-delay="7s" id="aries-color"><strong>Color:</strong> Gold | <strong>Element:</strong> Fire</p> 
	</div>
	<div class="lottie" id="leo-animation" data-animation-path="assets/" data-anim-loop="true"></div>
