<div class="aries-text">
		<h1 class="animated fadeIn delay-5s"id="aries-title">Libra</h1>
		<h2 id="aries-subtitle" class="animated fadeIn" id="aries-title">Cooperative &#183; Diplomatic &#183; Gracious</h2>
		<p class="animated fadeIn" id="aries-date"><strong>Date:</strong> 09/23 - 10/22 | <strong>Symbol:</strong> Scales</p>
		<p class="animated fadeIn" id="aries-ruling-planet"><strong>Ruling Planet:</strong> Venus | <strong>Quality:</strong> Cardinal</p>  
		<p class="animated fadeIn"id="aries-color"><strong>Color:</strong> Pink | <strong>Element:</strong> Air</p> 
	</div>
	<div class="lottie" id="libra-animation" data-animation-path="assets/" data-anim-loop="true"></div>