<div class="aries-text">
		<h1 class="animated fadeIn delay-5s" id="aries-title">Pisces</h1>
		<h2 id="aries-subtitle" class="animated fadeIn" id="aries-title">Compassionate &#183; Artistic &#183; Intuitive</h2>
		<p class="animated fadeIn"id="aries-date"><strong>Date:</strong> 02/19 - 03/20 | <strong>Symbol:</strong> Fish</p>
		<p class="animated fadeIn" id="aries-ruling-planet"><strong>Ruling Planet:</strong> Neptune | <strong>Quality:</strong> Mutable</p>  
		<p class="animated fadeIn" id="aries-color"><strong>Color:</strong> Mauve | <strong>Element:</strong> Water</p> 
	</div>
	<div class="lottie" id="pisces-animation" data-animation-path="assets/" data-anim-loop="true"></div>