<div class="aries-text">
		<h1 class="wow fadeIn" data-wow-duration="2s" data-wow-delay="5s" id="aries-title">Sagittarius</h1>
		<h2 id="aries-subtitle" class="wow fadeIn" data-wow-duration="2s" data-wow-delay="6s" id="aries-title">Generous &#183; Idealistic &#183; Humorous</h2>
		<p class="wow fadeIn" data-wow-duration="2s" data-wow-delay="7s" id="aries-date"><strong>Date:</strong> 11/22 - 12/22 | <strong>Symbol:</strong> Archer</p>
		<p class="wow fadeIn" data-wow-duration="2s" data-wow-delay="7s" id="aries-ruling-planet"><strong>Ruling Planet:</strong> Jupiter | <strong>Quality:</strong> Mutable</p>  
		<p class="wow fadeIn" data-wow-duration="2s" data-wow-delay="7s" id="aries-color"><strong>Color:</strong> Blue | <strong>Element:</strong> Fire</p> 
	</div>
	<div class="lottie" id="sag-animation" data-animation-path="assets/" data-anim-loop="true"></div>