 <div class="aries-text">
		<h1 class="wow fadeIn" id="aries-title">Scorp</h1>
		<h2 id="aries-subtitle"  id="aries-title">Adventurous &#183; Courage &#183; Versatile</h2>
		<p  id="aries-date"><strong>Date:</strong> 3/21 - 4/19 | <strong>Symbol:</strong> Ram's Head</p>
		<p id="aries-ruling-planet"><strong>Ruling Planet:</strong> Mars | <strong>Quality:</strong> Cardinal</p>  
		<p  id="aries-color"><strong>Color:</strong> Red | <strong>Element:</strong> Fire</p> 
	</div>
	<div class="lottie" id="scorp-animation" data-animation-path="assets/" data-anim-loop="true"></div>