<div class="aries-text">
		<h1 class="wow fadeIn" data-wow-duration="2s" data-wow-delay="5s" id="aries-title">SOP</h1>
		<h2 id="aries-subtitle" class="wow fadeIn" data-wow-duration="2s" data-wow-delay="6s" id="aries-title">Gentle &#183; Affectionate &#183; Adaptable</h2>
		<p class="wow fadeIn" data-wow-duration="2s" data-wow-delay="7s" id="aries-date"><strong>Date:</strong> 05/21 - 06/20 | <strong>Symbol:</strong> Twins</p>
		<p class="wow fadeIn" data-wow-duration="2s" data-wow-delay="7s" id="aries-ruling-planet"><strong>Ruling Planet:</strong> Mercury | <strong>Quality:</strong> Mutable</p>  
		<p class="wow fadeIn" data-wow-duration="2s" data-wow-delay="7s" id="aries-color"><strong>Color:</strong> Green | <strong>Element:</strong> Air</p> 
	</div>
	<div class="lottie" id="sop-animation" data-animation-path="assets/" data-anim-loop="true"></div>
