<div class="aries-text">
		<h1 class="wow fadeIn" data-wow-duration="2s" data-wow-delay="5s" id="aries-title">Scorpio</h1>
		<h2 id="aries-subtitle" class="wow fadeIn" data-wow-duration="2s" data-wow-delay="6s" id="aries-title">Passionate &#183; Independent &#183; Brave</h2>
		<p class="wow fadeIn" data-wow-duration="2s" data-wow-delay="7s" id="aries-date"><strong>Date:</strong> 10/23 - 06/20 | <strong>Symbol:</strong> Scorpion</p>
		<p class="wow fadeIn" data-wow-duration="2s" data-wow-delay="7s" id="aries-ruling-planet"><strong>Ruling Planet:</strong> Pluto | <strong>Quality:</strong> Fixed</p>  
		<p class="wow fadeIn" data-wow-duration="2s" data-wow-delay="7s" id="aries-color"><strong>Color:</strong> Black | <strong>Element:</strong> Water</p> 
	</div>
	<div class="lottie" id="sop-animation" data-animation-path="assets/" data-anim-loop="true"></div>
