<div class="aries-text">
		<h1 class="animated fadeIn delay-5s" id="aries-title">Taurus</h1>
		<h2 class="animated fadeIn" id="aries-subtitle"  id="aries-title">Smart &#183; Ambitious &#183; Trustworthy</h2>
		<p class="animated fadeIn" id="aries-date"><strong>Date:</strong> 04/20 - 05/21 | <strong>Symbol:</strong> Bull</p>
		<p class="animated fadeIn" id="aries-ruling-planet"><strong>Ruling Planet:</strong> Venus | <strong>Quality:</strong> Fixed</p>  
		<p class="animated fadeIn"id="aries-color"><strong>Color:</strong> Pink | <strong>Element:</strong> Earth</p> 
	</div>
	<div class="lottie" id="taurus-animation" data-animation-path="assets/" data-anim-loop="true"></div>
