<div class="aries-text">
		<h1 class="animated fadeIn delay-5s" id="aries-title">Virgo</h1>
		<h2 id="aries-subtitle" class="animated fadeIn" id="aries-title">Loyal &#183; Analytical &#183; Kind</h2>
		<p class="animated fadeIn" id="aries-date"><strong>Date:</strong> 08/23 - 11/23 | <strong>Symbol:</strong> Maiden</p>
		<p class="animated fadeIn" id="aries-ruling-planet"><strong>Ruling Planet:</strong> Mercury | <strong>Quality:</strong> Mutable</p>  
		<p class="animated fadeIn" id="aries-color"><strong>Color:</strong> Grey | <strong>Element:</strong> Earth</p> 
	</div>
	<div class="lottie" id="virgo-animation" data-animation-path="assets/" data-anim-loop="true"></div>
